topic-3/node-red/flow.json
[
  {
    "id": "main_flow",
    "type": "tab",
    "label": "Firebase IoT Control",
    "disabled": false,
    "info": "## Firebase RTDB Control Flow (Topik 3) — Hardcoded URL\n\nURL Firebase sudah di-hardcode di setiap HTTP node. Tidak perlu setup tambahan.\n\n### State machine pintu (opsi C — persisten):\n- UNLOCK → pintu terbuka, TETAP terbuka sampai LOCK\n- LOCK   → pintu tertutup, TETAP tertutup sampai UNLOCK\n- Tidak ada auto-lock\n\n### Cara pakai:\n1. Import flow ini\n2. Deploy\n3. Buka dashboard: http://localhost:1880/ui\n4. Tunggu polling otomatis (sensor 15s, status 5s, kontrol 5s, audit 10s)\n5. Click UNLOCK atau LOCK di dashboard → ESP32 response ≤5 detik\n\n### Ganti URL Firebase\nBila ingin pakai project lain, edit URL di setiap HTTP request node (6 node):\n`https://bootcamp-iot-dteti-2026-ave-default-rtdb.firebaseio.com`\n\n### Prasyarat\n- node-red-dashboard (untuk widget UI)"
  },

  {"id": "ui_base", "type": "ui_base", "name": "Dashboard", "theme": {"name": "theme-light", "lightTheme": {"default": "#0094CE", "baseColor": "#0094CE", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}, "darkTheme": {"default": "#097479", "baseColor": "#097479", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}, "customTheme": {"name": "Untitled", "default": "#4B7930", "baseColor": "#4B7930"}, "themeState": {"base-color": {"default": "#0094CE", "value": "#0094CE"}, "page-titlebar-backgroundColor": {"value": "#0079bf"}, "page-backgroundColor": {"value": "#fafafa"}, "page-sidebar-backgroundColor": {"value": "#ffffff"}, "group-textColor": {"value": "#1bbfff"}, "group-borderColor": {"value": "#ffffff"}, "group-backgroundColor": {"value": "#ffffff"}, "widget-textColor": {"value": "#111111"}, "widget-backgroundColor": {"value": "#0094ce"}, "widget-borderColor": {"value": "#ffffff"}, "base-font": {"value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}}, "site": {"name": "Firebase IoT", "hideToolbar": "false", "allowSwipe": "false", "lockMenu": "false", "allowTempTheme": "true", "dateFormat": "DD/MM/YYYY HH:mm:ss", "sizes": {"sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0}}},
  {"id": "ui_tab_main", "type": "ui_tab", "name": "Firebase IoT", "icon": "dashboard", "disabled": false, "hidden": false},
  {"id": "ui_grp_sensor", "type": "ui_group", "name": "Sensor DHT22", "tab": "ui_tab_main", "order": 1, "disp": true, "width": "6", "collapse": false},
  {"id": "ui_grp_pintu", "type": "ui_group", "name": "Kontrol Pintu", "tab": "ui_tab_main", "order": 2, "disp": true, "width": "6", "collapse": false},
  {"id": "ui_grp_audit", "type": "ui_group", "name": "Audit Log", "tab": "ui_tab_main", "order": 3, "disp": true, "width": "12", "collapse": false},

  {"id": "n_sensor_inject", "type": "inject", "name": "Poll sensor 15s", "props": [{"p": "payload"}], "repeat": "15", "crontab": "", "once": true, "onceDelay": 2, "topic": "", "payload": "", "payloadType": "date", "x": 130, "y": 160, "z": "main_flow", "wires": [["n_sensor_http"]]},
  {"id": "n_sensor_http", "type": "http request", "name": "GET /sensor/01.json", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "https://bootcamp-iot-dteti-2026-ave-default-rtdb.firebaseio.com/sensor/01.json", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 350, "y": 160, "z": "main_flow", "wires": [["n_sensor_split", "n_sensor_debug"]]},
  {"id": "n_sensor_split", "type": "function", "name": "Split suhu & lembap", "func": "const s = msg.payload;\nif (!s || typeof s !== 'object') return null;\nconst suhuMsg = { topic: \"suhu\", payload: s.suhu };\nconst lembapMsg = { topic: \"lembap\", payload: s.lembap };\nreturn [suhuMsg, lembapMsg];", "outputs": 2, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 380, "y": 200, "z": "main_flow", "wires": [["n_gauge_suhu", "n_chart"], ["n_gauge_lembap", "n_chart"]]},
  {"id": "n_gauge_suhu", "type": "ui_gauge", "name": "Gauge Suhu", "group": "ui_grp_sensor", "order": 1, "gtype": "gage", "title": "Suhu", "label": "°C", "format": "{{value}}", "min": 0, "max": 50, "colors": ["#00b500", "#f7df00", "#ca3838"], "seg1": "", "seg2": "", "x": 690, "y": 160, "z": "main_flow", "wires": []},
  {"id": "n_gauge_lembap", "type": "ui_gauge", "name": "Gauge Lembap", "group": "ui_grp_sensor", "order": 2, "gtype": "gage", "title": "Kelembapan", "label": "%", "format": "{{value}}", "min": 0, "max": 100, "colors": ["#cc5500", "#f7df00", "#00b500"], "seg1": "", "seg2": "", "x": 690, "y": 200, "z": "main_flow", "wires": []},
  {"id": "n_chart", "type": "ui_chart", "name": "Chart Sensor", "group": "ui_grp_sensor", "order": 3, "tab": "", "chartType": "line", "legend": "true", "xlog": "false", "ylog": "false", "points": "false", "interpolate": "linear", "nodata": "Tunggu data sensor...", "width": "6", "height": "4", "x": 690, "y": 240, "z": "main_flow", "wires": [[]]},
  {"id": "n_sensor_debug", "type": "debug", "name": "Debug Sensor (raw)", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "payload", "targetType": "msg", "statusVal": "", "statusType": "auto", "x": 620, "y": 100, "z": "main_flow", "wires": []},

  {"id": "n_status_inject", "type": "inject", "name": "Poll status 5s", "props": [{"p": "payload"}], "repeat": "5", "crontab": "", "once": true, "onceDelay": 1, "topic": "", "payload": "", "payloadType": "date", "x": 120, "y": 360, "z": "main_flow", "wires": [["n_status_http"]]},
  {"id": "n_status_http", "type": "http request", "name": "GET /status/pintu.json", "method": "GET", "ret": "txt", "paytoqs": "ignore", "url": "https://bootcamp-iot-dteti-2026-ave-default-rtdb.firebaseio.com/status/pintu.json", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 370, "y": 360, "z": "main_flow", "wires": [["n_text_status"]]},
  {"id": "n_text_status", "type": "ui_text", "name": "Status Pintu", "group": "ui_grp_pintu", "order": 1, "width": 0, "height": 0, "label": "Status", "format": "{{msg.payload}}", "layout": "row-spread", "className": "", "style": false, "font": "", "fontSize": 16, "color": "#000000", "x": 620, "y": 360, "z": "main_flow", "wires": []},

  {"id": "n_kontrol_inject", "type": "inject", "name": "Poll kontrol 5s", "props": [{"p": "payload"}], "repeat": "5", "crontab": "", "once": true, "onceDelay": 1, "topic": "", "payload": "", "payloadType": "date", "x": 120, "y": 420, "z": "main_flow", "wires": [["n_kontrol_http"]]},
  {"id": "n_kontrol_http", "type": "http request", "name": "GET /kontrol/pintu.json", "method": "GET", "ret": "txt", "paytoqs": "ignore", "url": "https://bootcamp-iot-dteti-2026-ave-default-rtdb.firebaseio.com/kontrol/pintu.json", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 370, "y": 420, "z": "main_flow", "wires": [["n_text_kontrol"]]},
  {"id": "n_text_kontrol", "type": "ui_text", "name": "Kontrol Value", "group": "ui_grp_pintu", "order": 2, "width": 0, "height": 0, "label": "Kontrol", "format": "{{msg.payload}}", "layout": "row-spread", "className": "", "style": false, "font": "", "fontSize": 16, "color": "#000000", "x": 620, "y": 420, "z": "main_flow", "wires": []},

  {"id": "n_btn_unlock", "type": "ui_button", "name": "Button UNLOCK", "group": "ui_grp_pintu", "order": 3, "width": "3", "height": "1", "passthru": false, "label": "UNLOCK", "tooltip": "Buka pintu via Firebase", "color": "#ffffff", "bgcolor": "#CA3838", "className": "", "icon": "lock-open", "payload": "\"UNLOCK\"", "payloadType": "str", "topic": "topic.unlock", "x": 130, "y": 520, "z": "main_flow", "wires": [["n_put_unlock"]]},
  {"id": "n_put_unlock", "type": "http request", "name": "PUT /kontrol/pintu = UNLOCK", "method": "PUT", "ret": "txt", "paytoqs": "ignore", "url": "https://bootcamp-iot-dteti-2026-ave-default-rtdb.firebaseio.com/kontrol/pintu.json", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [{"keyType": "Content-Type", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json"}], "x": 410, "y": 520, "z": "main_flow", "wires": [["n_unlock_toast", "n_unlock_debug"]]},
  {"id": "n_unlock_toast", "type": "ui_toast", "name": "Toast UNLOCK", "position": "top right", "displayTime": "3", "highlight": "", "sendall": true, "outputs": 0, "ok": "OK", "cancel": "", "raw": false, "topic": "general", "x": 700, "y": 500, "z": "main_flow", "wires": []},
  {"id": "n_unlock_debug", "type": "debug", "name": "Debug UNLOCK", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 700, "y": 540, "z": "main_flow", "wires": []},

  {"id": "n_btn_lock", "type": "ui_button", "name": "Button LOCK", "group": "ui_grp_pintu", "order": 4, "width": "3", "height": "1", "passthru": false, "label": "LOCK", "tooltip": "Kunci pintu via Firebase", "color": "#ffffff", "bgcolor": "#333333", "className": "", "icon": "lock", "payload": "\"LOCK\"", "payloadType": "str", "topic": "topic.lock", "x": 130, "y": 580, "z": "main_flow", "wires": [["n_put_lock"]]},
  {"id": "n_put_lock", "type": "http request", "name": "PUT /kontrol/pintu = LOCK", "method": "PUT", "ret": "txt", "paytoqs": "ignore", "url": "https://bootcamp-iot-dteti-2026-ave-default-rtdb.firebaseio.com/kontrol/pintu.json", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [{"keyType": "Content-Type", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json"}], "x": 410, "y": 580, "z": "main_flow", "wires": [["n_lock_toast", "n_lock_debug"]]},
  {"id": "n_lock_toast", "type": "ui_toast", "name": "Toast LOCK", "position": "top right", "displayTime": "3", "highlight": "", "sendall": true, "outputs": 0, "ok": "OK", "cancel": "", "raw": false, "topic": "general", "x": 700, "y": 560, "z": "main_flow", "wires": []},
  {"id": "n_lock_debug", "type": "debug", "name": "Debug LOCK", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 700, "y": 600, "z": "main_flow", "wires": []},

  {"id": "n_audit_inject", "type": "inject", "name": "Poll audit 10s", "props": [{"p": "payload"}], "repeat": "10", "crontab": "", "once": true, "onceDelay": 3, "topic": "", "payload": "", "payloadType": "date", "x": 120, "y": 720, "z": "main_flow", "wires": [["n_audit_http"]]},
  {"id": "n_audit_http", "type": "http request", "name": "GET /logs/pintu.json", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "https://bootcamp-iot-dteti-2026-ave-default-rtdb.firebaseio.com/logs/pintu.json", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 360, "y": 720, "z": "main_flow", "wires": [["n_audit_fmt"]]},
  {"id": "n_audit_fmt", "type": "function", "name": "Object → Array (sorted)", "func": "const obj = msg.payload || {};\nif (typeof obj !== 'object' || obj === null) {\n  msg.payload = [];\n  return msg;\n}\nconst arr = Object.entries(obj).map(([key, v]) => ({\n  key: key,\n  event: (v && v.event) || \"-\",\n  ts: (v && v.ts) || 0,\n  rssi: (v && v.rssi) || 0\n}));\narr.sort((a, b) => b.ts - a.ts);\nmsg.payload = arr.slice(0, 20);\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 580, "y": 720, "z": "main_flow", "wires": [["n_audit_table", "n_audit_debug"]]},
  {"id": "n_audit_debug", "type": "debug", "name": "Debug Audit", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "payload", "targetType": "msg", "statusVal": "", "statusType": "auto", "x": 840, "y": 680, "z": "main_flow", "wires": []},
  {"id": "n_audit_table", "type": "ui_template", "name": "Audit Table (HTML)", "group": "ui_grp_audit", "order": 1, "width": 0, "height": 0, "format": "<style>\n  .audit-table {\n    width: 100%;\n    border-collapse: collapse;\n    font-size: 13px;\n    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;\n  }\n  .audit-table th {\n    background: #0094CE;\n    color: white;\n    padding: 8px 10px;\n    text-align: left;\n    font-weight: 600;\n  }\n  .audit-table td {\n    padding: 7px 10px;\n    border-bottom: 1px solid #eee;\n  }\n  .audit-table tr:nth-child(even) td {\n    background: #f9f9f9;\n  }\n  .event-ADMIN_REMOTE { color: #CA3838; font-weight: 600; }\n  .event-UNLOCKED { color: #008000; font-weight: 600; }\n  .event-LOCKED { color: #555; font-weight: 600; }\n  .empty-msg {\n    padding: 20px;\n    text-align: center;\n    color: #999;\n    font-style: italic;\n  }\n</style>\n\n<div ng-if=\"!msg.payload || msg.payload.length === 0\">\n  <div class=\"empty-msg\">Belum ada audit log. Trigger UNLOCK untuk membuat entry.</div>\n</div>\n\n<table class=\"audit-table\" ng-if=\"msg.payload && msg.payload.length > 0\">\n  <thead>\n    <tr>\n      <th width=\"30%\">Key</th>\n      <th width=\"25%\">Event</th>\n      <th width=\"25%\">TS</th>\n      <th width=\"20%\">RSSI</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr ng-repeat=\"row in msg.payload\">\n      <td>{{row.key}}</td>\n      <td><span class=\"event-{{row.event}}\">{{row.event}}</span></td>\n      <td>{{row.ts}} dtk</td>\n      <td>{{row.rssi}} dBm</td>\n    </tr>\n  </tbody>\n</table>", "storeOutMessages": true, "fwdInMessages": false, "resendOnRefresh": true, "templateScope": "local", "className": "", "x": 820, "y": 720, "z": "main_flow", "wires": []}
]
